{
  "token": "BOT_TOKENINIZ_BURAYA",
  "guild_id": "123456789012345678",
  "check_interval": 60,
  "admin_role_ids": ["123456789012345678"],
  "servers": [
    {
      "id": "anasunucu",
      "ip": "play.hostlada.online:25565",
      "name": "Hostlada Ana Sunucu",
      "channel_id": "123456789012345678"
    },
    {
      "id": "kbs",
      "ip": "kbs.hostlada.online:25565",
      "name": "Hostlada KBS",
      "channel_id": "123456789012345678"
    }
  ]
}
